#create-menu {
    text-align: center;

    div {
        background-color: $background-primary-color;
        max-width: 75rem;
        margin: 0 auto;
        padding: 60px;
        border-radius: $border-radius;
        margin-bottom: 10%;
    }

    form {
        background-color: $background-secondary-color;
        max-width: 50%;
        margin: 0 auto;
        padding: 10px;
        border-radius: $border-radius;

        #submit-btn {
            background-color: $button-background-secondary-color;
            color: $button-text-color;
            border-radius: $border-radius;
            margin-top: 10px;
        }
    }
}